style
    include styles/stages.scss
.container
    .progress-container
        .progress-bar
            div(style='width: 50%;')
        ul.progress-step
            li.complated
            li.complated
            li.active
            li
            li

