style
    include ./styles/standart button.scss
.wrapper
    .buttons-title
        | Standart buttons
    .container-buttons
        a.ripple.button-green(href='#') Button
        a.ripple.button-big.button-green(href='#') Button
        a.ripple.button-red.button-big(href='#') Button
        a.ripple.button-red(href='#') Button
