style
    include ./styles/arrow buttons.scss
.container-button_arrow
    .buttons-arrow-title
        | arrow buttons
    .b-buttons
        button.b-button.b-button-round_turq(form='#', type='button', name='lightgreen', value='btn-lg', formaction='')
            .b-button__left
        button.b-button.b-button-round_turq(type='button', name='lightgreen')
            .b-button__right