style
    include styles/form elements.scss
.wrapper
    .form-elemtents_title
        | form elements
    .form-elements
        include elements/boxmessage/boxmessage
        include elements/tick boxes/tick boxes
        include elements/toggles/toggles
        include elements/user profile/userprofile