style
    include styles/userprofile.scss
.user-profile_container
    .userprofile-title
        | user profile
    .people
        .portrait
        .d33
            .name John Smith
            .profession UX designer
            .logo-line
                img(src='https://i.ibb.co/Sxmkq4L/FB.png', alt='FB', border='0')
                img(src='https://i.ibb.co/8XPjpMm/Twitter.png', alt='Twitter', border='0')
                img(src='https://i.ibb.co/r3CvxVx/Dribbble.png', alt='Dribbble', border='0')
    .people
        .portrait
        .d34.alt-theme
            .name.font-white Sarah Brown
            .profession.font-white DEVELOPER
            .logo-line
                img(src='https://i.ibb.co/Sxmkq4L/FB.png', alt='FB', border='0')
                img(src='https://i.ibb.co/8XPjpMm/Twitter.png', alt='Twitter', border='0')
                img(src='https://i.ibb.co/r3CvxVx/Dribbble.png', alt='Dribbble', border='0')