.form-elemtents_title{
    color: #4f4f4f;
    font-family: "9623";
    font-size: 18px;
    line-height: 42px;
    text-transform: uppercase;
    /* Text style for "STANDARD" */
    letter-spacing: 0.9px;
  }
.form-elements{
  display:flex;
}