
.container-button_arrow{
  margin-top: 70px;
}
.buttons-arrow-title{
  color: #4f4f4f;
  font-family: "9623";
  font-size: 18px;
  line-height: 42px;
  text-transform: uppercase;
  /* Text style for "STANDARD" */
  letter-spacing: 0.9px;
}
.b-buttons{
  margin: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* ======================== */

.b-button{
  margin-top: 38px;
  background-color: #000;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
}
.b-button__left{
  position: absolute;
  width: 1rem; height: 1rem;
  border-left: 0.3rem solid white;
  border-top: 0.3rem solid white;
  transform: rotate(-45deg) translate(0.2rem, 0.2rem);
  transition-duration: 0.2s;
}
.b-button__right{
  position: absolute;
  width: 1rem; height: 1rem;
  border-right: 0.3rem solid white;
  border-top: 0.3rem solid white;
  transform: rotate(45deg) translate(-0.2rem, 0.2rem);
  transition-duration: 0.2s;
}
.b-button-round_turq{
  width: 3.125rem; height: 3.25rem;
  border-radius: 100%;
  background-color: #4eb7a8;
  transition-duration: 0.2s;
}
.b-button-round_turq:hover{
  background-color: white;
  box-shadow: inset 0 0 0 4px #4eb7a8;
  transition-duration: 0.2s;
}
.b-button-round_turq:active{
  background-color: lightgray;
  transform: translate(0, 5px);
  box-shadow: none;
  transition-duration: 0.2s;
}
.b-button-round_turq:hover .b-button__left{
  border-color: #4eb7a8;
  transition-duration: 0.2s;
}
.b-button-round_turq:hover .b-button__left{
  border-color: #4eb7a8;
  transition-duration: 0.2s;
}
.b-button-round_turq:hover .b-button__right{
  border-color: #4eb7a8;
  transition-duration: 0.2s;
}
.b-button-round_turq:active .b-button__left{
  border-color: white;
  transition-duration: 0.2s;
}
.b-button-round_turq:active .b-button__right{
  border-color: white;
  transition-duration: 0.2s;
}