style
    include styles/toggles.scss
.toggles-container
    .toggles_title
        | toggles
    label.switch.switch-green
        input.switch-input(type='checkbox')
        span.switch-label(data-on='On', data-off='Off')
        span.switch-handle
    label.switch.switch-green
        input.switch-input(type='checkbox', checked='')
        span.switch-label(data-on='On', data-off='Off')
        span.switch-handle

