.progress-container{
  position: relative;
  .progress-bar{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 98%;
    height: 12px;
    background-color: #e5e5e5;
    transform: translate(-50%, -50%);
    div{
      background: #e75735;;
      width: 0;
      height: 100%;
      transition: .3s ease-in-out;
    }
  }
  .progress-step{
    display: flex;
    justify-content: space-between;
    position: relative;
    counter-reset: myCounter;
    li{
      position: relative;
      z-index: 1;
      &:hover{cursor: pointer;}
      &:before{
        display: block;
        content: counter(myCounter);
        counter-increment: myCounter;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        text-align: center;
        line-height: 32px;
        background-color: #e5e5e5;
        transition: .3s ease-in-out;
      }
      &.complated{
        &:before{
          background-color: #e75735;
          color: #fff;
        }
      }
      &.active{
        &:before{
          background-color: #e75735;
          color: #fff;
          animation: borderPulsate 1.5s infinite;
        }
      }
    }
  }
}
@keyframes borderPulsate {
  0%    { border-color: rgba(darken(#e75735, 30%), 1); }
  50%   { border-color: rgba(darken(#e75735, 30%), 0); }
  100%  { border-color: rgba(darken(#e75735, 30%), 1); }
}

// Only for styling this pen.
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  height: 100vh;
  margin: 0;
}
.container{max-width: 960px; width: 100%; background: #fff; padding: 30px;}
ul{padding: 0; list-style: none;}


